In [1]:
import pandas as pd
import numpy as np

from env import get_db_url

## 1. Acquire data from the cloud database.

In [2]:
def get_zillow_data():
    '''
    Function will try to return ad database from csv file if file is local and in same directory.
    IF file doesn't exist it will create and store in same directory
    Otherwise will pull from codeup database.
    Must have credentials for codeup database.
    '''
    query = '''
    SELECT
    prop.*,
    predictions_2017.logerror,
    predictions_2017.transactiondate,
    air.airconditioningdesc,
    arch.architecturalstyledesc,
    build.buildingclassdesc,
    heat.heatingorsystemdesc,
    landuse.propertylandusedesc,
    story.storydesc,
    construct.typeconstructiondesc
    FROM properties_2017 prop
    JOIN (
    SELECT parcelid, MAX(transactiondate) AS max_transactiondate
    FROM predictions_2017
    GROUP BY parcelid
    ) pred USING(parcelid)
    JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                      AND pred.max_transactiondate = predictions_2017.transactiondate
    LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
    LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
    LEFT JOIN storytype story USING (storytypeid)
    LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid)
    WHERE prop.latitude IS NOT NULL
      AND prop.longitude IS NOT NULL
      AND transactiondate <= '2017-12-31'
    '''
    try:
        csv_info = pd.read_csv('zillow.csv', index_col=0 )
        return csv_info
    except FileNotFoundError:
        url = get_db_url('zillow')
        info = pd.read_sql(query, url)
        info.to_csv("zillow.csv", index=True)
        return info

In [3]:
df = get_zillow_data()

/var/folders/ng/82m_197x6jd7ysrq5l2vxd280000gn/T/ipykernel_5221/2524721412.py:40: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_info = pd.read_csv('zillow.csv', index_col=0 )

In [4]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [5]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, parcelid, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, logerror, transactiondate, airconditioningdesc, architecturalstyledesc, buildingclassdesc, heatingorsystemdesc, propertylandusedesc, storydesc, typeconstructiondesc]
Index: []

[0 rows x 68 columns]

In [6]:
df.shape

(77380, 68)

In [7]:
df[df.parcelid.duplicated()]

Empty DataFrame
Columns: [id, parcelid, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, logerror, transactiondate, airconditioningdesc, architecturalstyledesc, buildingclassdesc, heatingorsystemdesc, propertylandusedesc, storydesc, typeconstructiondesc]
Index: []

[0 rows x 68 columns]

In [8]:
df.transactiondate = df.transactiondate.str.replace('-', '').astype(int)

In [9]:
df.groupby('parcelid')['transactiondate'].max()

parcelid
10711855     20170707
10711877     20170829
10711888     20170404
10711910     20170317
10711923     20170324
               ...
167686999    20170228
167687739    20170303
167687839    20170531
167688532    20170203
167689317    20170314
Name: transactiondate, Length: 77380, dtype: int64

In [10]:
df.parcelid.nunique()

77380

In [11]:
df[df.parcelid.duplicated()]

Empty DataFrame
Columns: [id, parcelid, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, logerror, transactiondate, airconditioningdesc, architecturalstyledesc, buildingclassdesc, heatingorsystemdesc, propertylandusedesc, storydesc, typeconstructiondesc]
Index: []

[0 rows x 68 columns]

In [12]:
df[df.parcelid == 11393337]

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
116,2463969,11393337,NaN,NaN,NaN,3.0,3.0,NaN,4.0,3.0,...,6.037235e+13,0.086137,20170608,NaN,NaN,NaN,NaN,"Triplex (3 Units, Any Combination)",NaN,NaN

In [13]:
df.drop_duplicates?

Signature:
df.drop_duplicates(
    subset: 'Hashable | Sequence[Hashable] | None' = None,
    keep: "Literal['first'] | Literal['last'] | Literal[False]" = 'first',
    inplace: 'bool' = False,
    ignore_index: 'bool' = False,
) -> 'DataFrame | None'
Docstring:
Return DataFrame with duplicate rows removed.

Considering certain columns is optional. Indexes, including time indexes
are ignored.

Parameters
----------
subset : column label or sequence of labels, optional
    Only consider certain columns for identifying duplicates, by
    default use all of the columns.
keep : {'first', 'last', False}, default 'first'
    Determines which duplicates (if any) to keep.
    - ``first`` : Drop duplicates except for the first occurrence.
    - ``last`` : Drop duplicates except for the last occurrence.
    - False : Drop all duplicates.
inplace : bool, default False
    Whether to drop duplicates in place or to return a copy.
ignore_index : bool, default False
    If True, the resulting axis will be labeled 0, 1, â€¦, n - 1.

    .. versionadded:: 1.0.0

Returns
-------
DataFrame or None
    DataFrame with duplicates removed or None if ``inplace=True``.

See Also
--------
DataFrame.value_counts: Count unique combinations of columns.

Examples
--------
Consider dataset containing ramen rating.

>>> df = pd.DataFrame({
...     'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
...     'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
...     'rating': [4, 4, 3.5, 15, 5]
... })
>>> df
    brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

By default, it removes duplicate rows based on all columns.

>>> df.drop_duplicates()
    brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

To remove duplicates on specific column(s), use ``subset``.

>>> df.drop_duplicates(subset=['brand'])
    brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

To remove duplicates and keep last occurrences, use ``keep``.

>>> df.drop_duplicates(subset=['brand', 'style'], keep='last')
    brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0
File:      /opt/homebrew/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py
Type:      method

In [14]:
df.sort_values('transactiondate', ascending=False, inplace=True)

In [15]:
df.drop_duplicates(subset=['parcelid'], keep='first', inplace=True)

In [16]:
df

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
77379,1187175,12826780,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037503e+13,0.007204,20170925,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
77378,1843709,12773139,1.0,NaN,NaN,1.0,3.0,NaN,4.0,1.0,...,6.037434e+13,0.037129,20170921,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
77377,2968375,17239384,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111008e+13,0.013209,20170921,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
77376,673515,11000655,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037101e+13,0.020615,20170920,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
77375,2864704,10833991,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037132e+13,-0.002245,20170920,Central,NaN,NaN,Central,Condominium,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,1447245,17143294,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.111005e+13,-0.020526,20170101,NaN,NaN,NaN,NaN,Condominium,NaN,NaN
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,20170101,Central,NaN,NaN,Central,Condominium,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,20170101,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,20170101,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,20170101,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN

In [17]:
df[df.parcelid == 11393337]

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
116,2463969,11393337,NaN,NaN,NaN,3.0,3.0,NaN,4.0,3.0,...,6.037235e+13,0.086137,20170608,NaN,NaN,NaN,NaN,"Triplex (3 Units, Any Combination)",NaN,NaN

In [18]:
df.latitude.isnull().value_counts()

False    77380
Name: latitude, dtype: int64

In [19]:
df = df[~df.latitude.isna()]

In [20]:
df.latitude

77379    33937685.0
77378    34040895.0
77377    34300140.0
77376    34245368.0
77375    34202400.0
            ...
5        34230044.0
4        34185120.0
3        34245180.0
2        33886168.0
0        33634931.0
Name: latitude, Length: 77380, dtype: float64

In [21]:
df.longitude.isnull().value_counts()

False    77380
Name: longitude, dtype: int64

## 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [22]:
def nulls_by_col(df):
    '''
    This function takes in a dataframe 
    and finds the number of missing values
    it returns a new dataframe with quantity and percent of missing values
    '''
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    percent_missing = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': percent_missing})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

In [23]:
def nulls_by_row(df):
    '''
    This function takes in a dataframe 
    and finds the number of missing values in a row
    it returns a new dataframe with quantity and percent of missing values
    '''
    num_missing = df.isnull().sum(axis=1)
    percent_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': percent_miss})
    rows_missing = df.merge(rows_missing,
                        left_index=True,
                        right_index=True)[['num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

In [24]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # .value_counts()
    # observation of nulls in the dataframe
    '''
    print('SUMMARY REPORT')
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts(), '\n')
        else:
            print(df[col].value_counts(bins=10, sort=False), '\n')
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [25]:
summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
            id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
77379  1187175  12826780                    NaN                       NaN
77378  1843709  12773139                    1.0                       NaN
77377  2968375  17239384                    NaN                       NaN

       basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
77379           NaN          2.0         3.0                  NaN
77378           NaN          1.0         3.0                  NaN
77377           NaN          2.0         4.0                  NaN

       buildingqualitytypeid  calculatedbathnbr  ...  censustractandblock  \
77379                    6.0                2.0  ...         6.037503e+13
77378                    4.0                1.0  ...         6.037434e+13
77377                    NaN                2.0  ...         6.111008e+13

       logerror  transactiondate  airconditioningdesc  architecturalstyledesc  \
77379  0.007204         20170925                  NaN                     NaN
77378  0.037129         20170921              Central                     NaN
77377  0.013209         20170921                  NaN                     NaN

       buildingclassdesc  heatingorsystemdesc        propertylandusedesc  \
77379                NaN              Central  Single Family Residential
77378                NaN              Central  Single Family Residential
77377                NaN                  NaN  Single Family Residential

       storydesc  typeconstructiondesc
77379        NaN                   NaN
77378        NaN                   NaN
77377        NaN                   NaN

[3 rows x 68 columns]
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77380 entries, 77379 to 0
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  int64
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(10)
memory usage: 40.7+ MB
None
=====================================================


Dataframe Description:
                 id      parcelid  airconditioningtypeid  \
count  7.738000e+04  7.738000e+04           24953.000000
mean   1.495126e+06  1.300715e+07               1.813289
std    8.609057e+05  3.481368e+06               2.967894
min    3.490000e+02  1.071186e+07               1.000000
25%    7.520500e+05  1.153830e+07               1.000000
50%    1.497870e+06  1.253155e+07               1.000000
75%    2.240480e+06  1.421184e+07               1.000000
max    2.982274e+06  1.676893e+08              13.000000

       architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                206.000000     50.000000  77380.000000  77380.000000
mean                   7.388350    679.720000      2.299134      3.053489
std                    2.734542    689.703546      0.996657      1.139103
min                    2.000000     38.000000      0.000000      0.000000
25%                    7.000000    273.000000      2.000000      2.000000
50%                    7.000000    515.000000      2.000000      3.000000
75%                    7.000000    796.500000      3.000000      4.000000
max                   21.000000   3560.000000     18.000000     16.000000

       buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count            15.000000           49671.000000       76771.000000  ...
mean              3.933333               6.534638           2.316871  ...
std               0.258199               1.721933           0.979761  ...
min               3.000000               1.000000           1.000000  ...
25%               4.000000               6.000000           2.000000  ...
50%               4.000000               6.000000           2.000000  ...
75%               4.000000               8.000000           3.000000  ...
max               4.000000              12.000000          18.000000  ...

       fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
count          172.0                7.726800e+04       7.737900e+04
mean             1.0                1.893160e+05       4.901375e+05
std              0.0                2.300886e+05       6.534477e+05
min              1.0                4.400000e+01       1.000000e+03
25%              1.0                8.426500e+04       2.070000e+05
50%              1.0                1.364995e+05       3.589760e+05
75%              1.0                2.187875e+05       5.690030e+05
max              1.0                1.142179e+07       4.906124e+07

       assessmentyear  landtaxvaluedollarcnt      taxamount  \
count         77380.0           7.737800e+04   77375.000000
mean           2016.0           3.010969e+05    5995.566592
std               0.0           4.925990e+05    7622.887460
min            2016.0           1.610000e+02      19.920000
25%            2016.0           8.550400e+04    2715.585000
50%            2016.0           2.033835e+05    4450.720000
75%            2016.0           3.668022e+05    6927.800000
max            2016.0           4.895220e+07  586639.300000

       taxdelinquencyyear  censustractandblock      logerror  transactiondate
count         2886.000000         7.713600e+04  77380.000000     7.738000e+04
mean            14.087318         6.049674e+13      0.016628     2.017052e+07
std              2.185663         1.535252e+12      0.170190     2.354674e+02
min              3.000000         6.037101e+13     -4.655420     2.017010e+07
25%             14.000000         6.037311e+13     -0.024377     2.017032e+07
50%             15.000000         6.037603e+13      0.006627     2.017052e+07
75%             15.000000         6.059042e+13      0.039204     2.017072e+07
max             99.000000         4.830301e+14      5.262999     2.017092e+07

[8 rows x 58 columns]
=====================================================
DataFrame value counts:
(-2632.9260000000004, 298541.5]    7739
(298541.5, 596734.0]               7682
(596734.0, 894926.5]               7585
(894926.5, 1193119.0]              7694
(1193119.0, 1491311.5]             7827
(1491311.5, 1789504.0]             7813
(1789504.0, 2087696.5]             7794
(2087696.5, 2385889.0]             7698
(2385889.0, 2684081.5]             7709
(2684081.5, 2982274.0]             7839
Name: id, dtype: int64

(10554877.537, 26409601.2]    77349
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64

(0.987, 2.2]    23133
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1574
Name: airconditioningtypeid, dtype: int64

(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64

(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64

(-0.019, 1.8]    14909
(1.8, 3.6]       56435
(3.6, 5.4]        5073
(5.4, 7.2]         801
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64

(-0.017, 1.6]     4209
(1.6, 3.2]       49530
(3.2, 4.8]       17513
(4.8, 6.4]        5541
(6.4, 8.0]         460
(8.0, 9.6]          70
(9.6, 11.2]         39
(11.2, 12.8]        14
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64

(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64

(0.988, 2.1]       35
(2.1, 3.2]        329
(3.2, 4.3]       9482
(4.3, 5.4]       2088
(5.4, 6.5]      13462
(6.5, 7.6]       5971
(7.6, 8.7]      14645
(8.7, 9.8]       2299
(9.8, 10.9]       313
(10.9, 12.0]     1047
Name: buildingqualitytypeid, dtype: int64

(0.982, 2.7]    52389
(2.7, 4.4]      21699
(4.4, 6.1]       2361
(6.1, 7.8]        176
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64

(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64

(37.131, 730.8]      702
(730.8, 1417.6]     3025
(1417.6, 2104.4]    1733
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64

(92.487, 3679.2]      73879
(3679.2, 7230.4]       3134
(7230.4, 10781.6]       148
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64

(106.198, 2308.1]     59592
(2308.1, 4488.2]      12862
(4488.2, 6668.3]       1069
(6668.3, 8848.4]        161
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64

(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 5
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64

(562.957, 4102.2]     2811
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64

(31.576, 1286.3]      3138
(1286.3, 2528.6]      2552
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64

(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64

(6036.925, 6044.4]    50550
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20593
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6237
Name: fips, dtype: int64

(0.995, 1.4]    7008
(1.4, 1.8]         0
(1.8, 2.2]       995
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64

(0.982, 2.7]    52406
(2.7, 4.4]      22399
(4.4, 6.1]       1699
(6.1, 7.8]        121
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64

(-0.015, 1.4]     5906
(1.4, 2.8]       18608
(2.8, 4.2]         887
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64

(-4.252000000000001, 425.1]    11937
(425.1, 850.2]                 13160
(850.2, 1275.3]                  323
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1538
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64

(0.976, 3.3]    33563
(3.3, 5.6]          0
(5.6, 7.9]      14840
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       59
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      846
Name: heatingorsystemtypeid, dtype: int64

(33338047.759000003, 33487451.0]     1045
(33487451.0, 33635375.0]             5318
(33635375.0, 33783299.0]            10047
(33783299.0, 33931223.0]            14789
(33931223.0, 34079147.0]            14221
(34079147.0, 34227071.0]            18893
(34227071.0, 34374995.0]             6261
(34374995.0, 34522919.0]             3146
(34522919.0, 34670843.0]             2321
(34670843.0, 34818767.0]             1339
Name: latitude, dtype: int64

(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       1997
(-119091260.0, -118899182.0]       1494
(-118899182.0, -118707104.0]       2660
(-118707104.0, -118515026.0]       5926
(-118515026.0, -118322948.0]      15424
(-118322948.0, -118130870.0]      15361
(-118130870.0, -117938792.0]      14219
(-117938792.0, -117746714.0]      12688
(-117746714.0, -117554636.0]       7390
Name: longitude, dtype: int64

(-6734.775000000001, 697313.4]    68855
(697313.4, 1394390.8]               227
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16137
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64

(22.523, 171.6]       7
(171.6, 319.2]       47
(319.2, 466.8]      322
(466.8, 614.4]      306
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64

(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       464
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0

In [26]:
def missing_values(df):
    num_rows_missing = df.isnull().sum()
    percent_num_rows_missing = round(num_rows_missing / len(df) * 100, 2)
    return pd.DataFrame({'num_rows_missing': num_rows_missing, 'percent_num_rows_missing': percent_num_rows_missing})

In [27]:
#pd.options.display.max_rows = None

In [28]:
missing_values(df)

                          num_rows_missing  percent_num_rows_missing
id                                       0                      0.00
parcelid                                 0                      0.00
airconditioningtypeid                52427                     67.75
architecturalstyletypeid             77174                     99.73
basementsqft                         77330                     99.94
...                                    ...                       ...
buildingclassdesc                    77365                     99.98
heatingorsystemdesc                  27941                     36.11
propertylandusedesc                      0                      0.00
storydesc                            77330                     99.94
typeconstructiondesc                 77158                     99.71

[68 rows x 2 columns]

# Prepare

### Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77380 entries, 77379 to 0
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  int64
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(10)
memory usage: 42.8+ MB

In [30]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52319
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [31]:
df = df[df.propertylandusedesc == 'Single Family Residential']

In [32]:
def drop_nulls(df, percent):
    '''
    Takes in a dataframe and a percent cutoff to return a dataframe with all the columns that are within the cutoff percentage.

    INPUT:
    df = pandas dataframe
    percent = Null percent cutoff. (0.00)

    OUTPUT:
    new_df = pandas dataframe with all columns that are within the cutoff percentage.
    '''
    original_cols = df.columns.to_list()
    drop_cols = []
    for col in original_cols:
        null_pct = df[col].isna().sum() / df.shape[0]
        if null_pct > percent:
            drop_cols.append(col)
    new_df = df.drop(columns=drop_cols)
    return new_df

In [33]:
df = drop_nulls(df, 0.25)

In [34]:
df.isna().sum() / df.shape[0]

id                              0.000000
parcelid                        0.000000
bathroomcnt                     0.000000
bedroomcnt                      0.000000
calculatedbathnbr               0.002580
calculatedfinishedsquarefeet    0.001548
finishedsquarefeet12            0.004702
fips                            0.000000
fullbathcnt                     0.002580
latitude                        0.000000
longitude                       0.000000
lotsizesquarefeet               0.006996
propertycountylandusecode       0.000000
propertylandusetypeid           0.000000
rawcensustractandblock          0.000000
regionidcity                    0.019802
regionidcounty                  0.000000
regionidzip                     0.000497
roomcnt                         0.000000
yearbuilt                       0.002179
structuretaxvaluedollarcnt      0.001567
taxvaluedollarcnt               0.000019
assessmentyear                  0.000000
landtaxvaluedollarcnt           0.000019
taxamount                       0.000076
censustractandblock             0.002313
logerror                        0.000000
transactiondate                 0.000000
propertylandusedesc             0.000000
dtype: float64

In [35]:
df

,id,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,propertylandusedesc
77379,1187175,12826780,2.0,3.0,2.0,1762.0,1762.0,6037.0,2.0,33937685.0,...,1955.0,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,0.007204,20170925,Single Family Residential
77378,1843709,12773139,1.0,3.0,1.0,1032.0,1032.0,6037.0,1.0,34040895.0,...,1954.0,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,0.037129,20170921,Single Family Residential
77377,2968375,17239384,2.0,4.0,2.0,1612.0,1612.0,6111.0,2.0,34300140.0,...,1964.0,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,0.013209,20170921,Single Family Residential
77376,673515,11000655,2.0,2.0,2.0,1286.0,1286.0,6037.0,2.0,34245368.0,...,1940.0,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,0.020615,20170920,Single Family Residential
77195,1017567,11388980,2.0,3.0,2.0,1518.0,1518.0,6037.0,2.0,33983643.0,...,1948.0,116897.0,229242.0,2016.0,112345.0,3277.29,6.037703e+13,0.023168,20170919,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,870991,12069064,1.0,2.0,1.0,738.0,738.0,6037.0,1.0,34149214.0,...,1922.0,18890.0,218552.0,2016.0,199662.0,2366.08,6.037302e+13,0.101723,20170101,Single Family Residential
6,781532,12095076,3.0,4.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,...,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,20170101,Single Family Residential
3,2288172,12177905,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,...,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,20170101,Single Family Residential
2,11677,14186244,2.0,3.0,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,...,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,20170101,Single Family Residential
0,1727539,14297519,3.5,4.0,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,...,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,20170101,Single Family Residential

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52319 entries, 77379 to 0
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52319 non-null  int64
 1   parcelid                      52319 non-null  int64
 2   bathroomcnt                   52319 non-null  float64
 3   bedroomcnt                    52319 non-null  float64
 4   calculatedbathnbr             52184 non-null  float64
 5   calculatedfinishedsquarefeet  52238 non-null  float64
 6   finishedsquarefeet12          52073 non-null  float64
 7   fips                          52319 non-null  float64
 8   fullbathcnt                   52184 non-null  float64
 9   latitude                      52319 non-null  float64
 10  longitude                     52319 non-null  float64
 11  lotsizesquarefeet             51953 non-null  float64
 12  propertycountylandusecode     52319 non-null  object
 13  propertylandusetypeid         52319 non-null  float64
 14  rawcensustractandblock        52319 non-null  float64
 15  regionidcity                  51283 non-null  float64
 16  regionidcounty                52319 non-null  float64
 17  regionidzip                   52293 non-null  float64
 18  roomcnt                       52319 non-null  float64
 19  yearbuilt                     52205 non-null  float64
 20  structuretaxvaluedollarcnt    52237 non-null  float64
 21  taxvaluedollarcnt             52318 non-null  float64
 22  assessmentyear                52319 non-null  float64
 23  landtaxvaluedollarcnt         52318 non-null  float64
 24  taxamount                     52315 non-null  float64
 25  censustractandblock           52198 non-null  float64
 26  logerror                      52319 non-null  float64
 27  transactiondate               52319 non-null  int64
 28  propertylandusedesc           52319 non-null  object
dtypes: float64(24), int64(3), object(2)
memory usage: 12.0+ MB

In [37]:
df.columns.to_list()

['id',
 'parcelid',
 'bathroomcnt',
 'bedroomcnt',
 'calculatedbathnbr',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'fips',
 'fullbathcnt',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidzip',
 'roomcnt',
 'yearbuilt',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'censustractandblock',
 'logerror',
 'transactiondate',
 'propertylandusedesc']

In [38]:
cols = ['id', 
 'parcelid', 
 'propertylandusetypeid',  
 'propertylandusetypeid', 
 'rawcensustractandblock', 
 'regionidcity',
  'regionidcounty',
 'regionidzip',
 'fips',
 'censustractandblock',

]

In [39]:
cols2 = df.select_dtypes(exclude='object').drop(columns=cols).columns.to_list()
cols2

['bathroomcnt',
 'bedroomcnt',
 'calculatedbathnbr',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'fullbathcnt',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'roomcnt',
 'yearbuilt',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'logerror',
 'transactiondate']

In [40]:
def remove_outliers(df, col_list, k=1.5):
    '''
    remove outliers from a dataframe based on a list of columns
    using the tukey method.
    returns a single dataframe with outliers removed
    '''
    col_qs = {}
    for col in col_list:
        col_qs[col] = q1, q3 = df[col].quantile([0.25, 0.75])
    for col in col_list:
        iqr = col_qs[col][0.75] - col_qs[col][0.25]
        lower_fence = col_qs[col][0.25] - (k*iqr)
        upper_fence = col_qs[col][0.75] + (k*iqr)
        df = df[(df[col] > lower_fence) & (df[col] < upper_fence)]
    return df

In [41]:
remove_outliers(df, df.select_dtypes(exclude='object').drop(columns=cols).columns.to_list(), 1.5)

Empty DataFrame
Columns: [id, parcelid, bathroomcnt, bedroomcnt, calculatedbathnbr, calculatedfinishedsquarefeet, finishedsquarefeet12, fips, fullbathcnt, latitude, longitude, lotsizesquarefeet, propertycountylandusecode, propertylandusetypeid, rawcensustractandblock, regionidcity, regionidcounty, regionidzip, roomcnt, yearbuilt, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, censustractandblock, logerror, transactiondate, propertylandusedesc]
Index: []

[0 rows x 29 columns]

In [42]:
df.isna().sum()

id                                 0
parcelid                           0
bathroomcnt                        0
bedroomcnt                         0
calculatedbathnbr                135
calculatedfinishedsquarefeet      81
finishedsquarefeet12             246
fips                               0
fullbathcnt                      135
latitude                           0
longitude                          0
lotsizesquarefeet                366
propertycountylandusecode          0
propertylandusetypeid              0
rawcensustractandblock             0
regionidcity                    1036
regionidcounty                     0
regionidzip                       26
roomcnt                            0
yearbuilt                        114
structuretaxvaluedollarcnt        82
taxvaluedollarcnt                  1
assessmentyear                     0
landtaxvaluedollarcnt              1
taxamount                          4
censustractandblock              121
logerror                           0
transactiondate                    0
propertylandusedesc                0
dtype: int64

In [43]:
df.columns

Index(['id', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'calculatedbathnbr',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips',
       'fullbathcnt', 'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'propertylandusetypeid',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidzip', 'roomcnt', 'yearbuilt', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'censustractandblock', 'logerror', 'transactiondate',
       'propertylandusedesc'],
      dtype='object')

In [44]:
mean_cols = ['calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'lotsizesquarefeet', 
             'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'landtaxvaluedollarcnt', 'taxamount']
mode_cols = ['calculatedbathnbr', 'fullbathcnt', 'regionidcity', 'regionidzip', 'censustractandblock', 'yearbuilt']

In [45]:
for col in mean_cols:
    df[col].fillna(df[col].mean(), inplace=True)
for col in mode_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [46]:
df.isna().sum()

id                              0
parcelid                        0
bathroomcnt                     0
bedroomcnt                      0
calculatedbathnbr               0
calculatedfinishedsquarefeet    0
finishedsquarefeet12            0
fips                            0
fullbathcnt                     0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
propertylandusetypeid           0
rawcensustractandblock          0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
roomcnt                         0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
assessmentyear                  0
landtaxvaluedollarcnt           0
taxamount                       0
censustractandblock             0
logerror                        0
transactiondate                 0
propertylandusedesc             0
dtype: int64